html, body {
  background: url(https://s3.amazonaws.com/codecademy-content/projects/2/listeasy/bg.png);
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
}

/* Header Section */

.header {
  align-items: center;
}

.navbar {
  font-family: 'Quicksand', sans-serif;
  background-color: rgba(118, 214, 246, 1.0);
  padding: .3rem;
}

/* List Section */

.list-section {
  display: flex;
  flex-direction: block;
}

Input {
  width: 40rem;
  height: 3.2rem;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2rem;
  margin-left: auto;
  margin-right: 0.5rem;
  box-shadow: 0 .1rem .1rem rgba(0, 0, 0, .15);
  padding: .5rem;
}

button {
  height: 3.2rem;
  width: 3.2rem;
  margin-right: auto;
  margin-left: 0.5rem;
  box-shadow: 0 .1rem .1rem rgba(0, 0, 0, .15);
  background-color: rgba(118, 214, 246, 0.95);
}

.button-hover {
  background-color: rgba(197, 234, 246, 1.0);
  cursor: pointer;
}

/* List */

.list {
  margin-top: 2rem;
}

li {
  display: flex;
  align-items: center;
  max-width: 40rem;
  padding: 1rem;
  margin: 0 auto 0.3rem;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, .15);
  color: #473e39;
}

li span {
  flex-grow: 1;
}

li .glyphicon-remove {
  margin-right: .5rem;
  cursor: pointer;
}

li .glyphicon-remove:hover {
  color: rgba(237, 28, 36, 0.95);
}

li .glyphicon-pencil {
  margin-right: .5rem;
  cursor: pointer;
}

li .glyphicon-pencil:hover {
  color: rgba(0, 204, 102, 0.95);
}
